.ChatWindow {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-width: 0;
    height: 100vh; /* Dodano, aby wypełnić wysokość kontenera */
}

.Messages {
    flex: 1;
    overflow-y: auto; /* Dodano przewijanie */
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.Message {
    max-width: 90%; /* Zmniejszona max-width dla responsywności */
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 20px;
    word-wrap: break-word;
}

.Message.Pete {
    background-color: #3a3a3c;
    align-self: flex-start;
    color: #ffffff;
}

.Message.Luna {
    background-color: #0a84ff;
    align-self: flex-end;
    color: #ffffff;
}

.SenderName {
    font-weight: bold;
    margin-bottom: 5px;
}

.MessageText {
    word-wrap: break-word;
}

.InputBox {
    position: sticky; /* Sticky trzyma pasek w ustalonym miejscu */
    bottom: 0; /* Przyklej na dole ekranu */
    display: flex;
    border-top: 1px solid #ccc;
    padding: 10px;
    background-color: #f8f8f8;
}

.InputBox input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
}

.InputBox button {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0a84ff;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.InputBox button:hover {
    background-color: #005bb5;
}

/* Media Queries dla małych ekranów */
@media (max-width: 768px) {
    .ChatWindow {
        flex: 0 0 100%; /* Okno czatu zajmuje całą szerokość */
        max-width: 100%;
    }
}
