.ChatWindow {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
    min-width: 0;
    height: 100%; /* Dodano, aby wypełnić wysokość kontenera */
}

.Messages {
    flex: 1;
    overflow-y: auto; /* Dodano przewijanie */
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.Message {
    max-width: 90%; /* Zmniejszona max-width dla responsywności */
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 20px;
    word-wrap: break-word;
}

.Message.Pete {
    background-color: #3a3a3c;
    align-self: flex-start;
    color: #ffffff;
}

.Message.Luna {
    background-color: #0a84ff;
    align-self: flex-end;
    color: #ffffff;
}

.SenderName {
    font-weight: bold;
    margin-bottom: 5px;
}

.MessageText {
    word-wrap: break-word;
}

/* Media Queries dla małych ekranów */
@media (max-width: 768px) {
    .ChatWindow {
        flex: 0 0 100%; /* Okno czatu zajmuje całą szerokość */
        max-width: 100%;
    }
}
